:root {
  --black: rgb(0, 0, 0);
  --black-sheer: rgba(0, 0, 0, 0.7);
  --dark-grey: rgb(83, 83, 83);
  --light-grey: rgb(206, 206, 206);
  --white: rgb(255, 255, 255);
  --white-sheer: rgba(255, 255, 255, 0.8);
  --orange: rgb(255, 193, 77);
  --purple: rgb(90, 0, 169);
}

html[data-theme='dark'] {
  --primary-foreground: var(--white-sheer);
  --secondary-foreground: var(--white);
  --tertiary-foreground: var(--white-sheer);
  --quaternary-foreground: var(--purple);
  --primary-background: var(--black);
  --secondary-background: var(--black-sheer);
  --tertiary-background: var(--black);
  --quaternary-background: var(--purple);
}

html[data-theme='light'] {
  --primary-foreground: var(--black);
  --secondary-foreground: var(--dark-grey);
  --tertiary-foreground: var(--white);
  --quaternary-foreground: var(--orange);
  --primary-background: var(--white);
  --secondary-background: var(--white-sheer);
  --tertiary-background: var(--black);
  --quaternary-background: var(--orange);
}
