.carousel-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin: 1rem;
}

.box button {
  margin: 1rem;
}

.box-ul {
  width: 20rem;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  gap: 1rem;
}

.box-ul li img {
  width: 20rem;
  height: 20rem;
}

.box-ul li span {
  text-align: center;
}
