.card-details {
  width: 80%;
  margin: auto;
  margin-bottom: var(--space-20);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.card-details__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-20);
}

.card-details__heading img {
  width: 5rem;
  margin-top: -2rem;
  margin-bottom: var(--space-10);
}

.card-details h3 {
  margin-top: var(--space-20);
}

.card-details ul {
  margin-bottom: var(--space-20);
  border: 2px solid var(--primary-foreground);
  padding: var(--space-20);
  box-shadow: var(--quaternary-foreground) 5px 5px;
}

.snake-img {
  width: 10rem;
  margin: var(--space-20);
}
