button {
  padding: 0.5rem;
  font-size: var(--regular-size);
  font-family: var(--text-font);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  text-transform: uppercase;
  font-weight: var(--medium-weight);
}

button:hover {
  color: var(--orange-color);
  transition: 0.2s ease-in-out;
}

#dark button {
  color: var(--white-color);
}
