.button--shadow {
  color: var(--primary-foreground);
  text-decoration: none;
  padding: 0.5rem;
  margin: 20px;
  border: 2px solid var(--primary-foreground);
  &:after {
    background-color: var(--primary-foreground);
  }
  &:hover {
    top: 5px;
    box-shadow: none;
    &:after {
      position: absolute;
      top: 0em;
      right: 0em;
      left: 0em;
      bottom: 0em;
    }
  }
  &:active {
    background-color: var(--quaternary-foreground);
    color: var(--primary-foreground);
    transition: color 200ms, background-color 200ms;
  }
}

.shadow {
  transition: all 100ms;
  background-color: var(--primary-background);
  position: relative;
  box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.05);
  &:after {
    transition: all 100ms;
    content: '';
    display: block;
    z-index: -1;
    background-color: var(--primary-foreground);
    position: absolute;
    top: 0.5em;
    right: -0.4em;
    left: 0.4em;
    bottom: -0.4em;
  }
}
