.tarot {
  min-height: 100vh;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem;
  gap: 1rem;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-10);
}

.filter-input {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-10);
}

.search-input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 2px solid var(--primary-foreground);
  background-color: var(--primary-background);
  color: var(--primary-foreground);
}

/* .card__item {
  border: 1px solid white;
  background-color: rgb(23, 23, 23);
  width: 90%;
} */

@media (min-width: 640px) {
  .filter-buttons {
    flex-direction: row;
  }

  .card__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 90%;
  }
}

@media (min-width: 920px) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
}

@media (min-width: 1300px) {
  .card__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
  }
}

@media (min-width: 2360px) {
  .card__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 50%;
  }
}
