.card__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem;
  gap: 1rem;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-10);
}

.search-input {
  display: block;
  margin: auto;
  padding: 0.5rem;
  border: 2px solid var(--primary-foreground);
  background-color: var(--primary-background);
  color: var(--primary-foreground);
}

/* .card__item {
  border: 1px solid white;
  background-color: rgb(23, 23, 23);
  width: 90%;
} */

.flip-card__img {
  height: 25rem;
  display: block;
  margin: auto;
  margin-top: 0.2rem;
}

/* ----- */

.flip-card {
  background-color: transparent;
  width: 15rem;
  height: 25.5rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card__inner {
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card__inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card__front,
.flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border: 1px solid black;
}

/* Style the front side (fallback if image is missing) */
.flip-card__front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card__back {
  background-color: white;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  padding: 1rem;
}

.flip-card__name {
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.flip-card__info {
  padding: 0.5rem;
  text-align: left;
}

@media (min-width: 640px) {
  .card__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 920px) {
  .card__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
}
