.numerology {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: url('https://images.unsplash.com/photo-1588594276800-2de0522b3b73?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMHBhdHRlcm58ZW58MHx8MHx8fDA%3D&w=1000&q=80');
  background-position: center;
  background-repeat: no-repeat;
}

.numerology h1 {
  color: var(--white-color);
  background-color: var(--black-color);
}

.numerology form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
