.numerology {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.numerology form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
