.reading--description {
  width: 70%;
  text-align: justify;
  margin: auto;
  padding-bottom: var(--space-20);
}

.card__list--reading {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  gap: var(--space-10);
}

.card__btn--reading {
  display: block;
  margin: var(--space-20) auto;
}

@media (min-width: 920px) {
  .card__list--reading {
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
  }
}
