/* first section */
.home__central-heading {
  font-size: 6rem;
}

.home__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  gap: 1rem;
}

.home__intro--info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.home__heading {
  margin: auto;
  width: 90%;
}

.home__intro--subheading {
  font-weight: var(--regular-weight);
  font-size: 1.4rem;
  text-align: justify;
  width: 90%;
  padding-top: 1rem;
}

.home__intro--img {
  width: 17rem;
  height: 17rem;
  animation: rotation 20s infinite linear;
  background: rgb(222, 170, 40);
  background: radial-gradient(
    circle,
    rgb(214, 167, 48) 0%,
    rgba(255, 255, 255, 0) 50%
  );
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.home__intro--button {
  margin: 1rem auto;
  font-size: 1.2rem;
}

.home__intro--button:hover {
  background-color: rgb(222, 170, 40);
}

/* second section */

.home__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
  width: 80%;
}

.home__main--heading {
  font-size: 2rem;
}

.home__main--img {
  width: 60%;
}

.home__main--info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-align: justify;
  font-weight: var(--regular-weight);
}

.home__main--item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.home__main--icon {
  height: 10rem;
  margin-bottom: 1rem;
}

.home__main--icon:hover {
  animation: skew-y-shaking 0.3s infinite;
}

@keyframes skew-y-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* subscribe form */

.form__section {
  background-color: #121212;
  color: white;
}

.form__wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  width: 60%;
}

.form__wrapper article {
  width: 50%;
  text-align: left;
}

.form__info {
  width: 50%;
}

#dark .home__main--item:nth-child(3) > .home__main--icon {
  opacity: 50%;
}

#dark .home__intro {
  background: rgba(255, 214, 109, 0.675);
  background: radial-gradient(circle, rgb(65, 1, 160) 0%, rgb(0, 0, 0) 80%)
    rgba(19, 19, 19, 0.675);
}

#dark .home__intro--img {
  background: none;
}

#dark .form__section {
  background-color: rgb(28, 0, 88);
}

@media (min-width: 768px) {
  .home__main--info {
    flex-direction: row;
  }

  .home__main--item {
    width: 30%;
  }

  .form__wrapper {
    flex-direction: row;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .home__main--info {
    flex-direction: row;
  }

  .home__main--item {
    width: 30%;
  }

  .form__wrapper {
    flex-direction: row;
    gap: 2rem;
  }
}

@media (min-width: 992px) {
  .home__intro {
    flex-direction: row;
    padding: 5%;
  }

  .home__intro--img {
    width: 35rem;
    height: 35rem;
  }

  #dark .home__intro {
    background: rgba(255, 214, 109, 0.675);
    background: radial-gradient(circle, rgb(65, 1, 160) 0%, rgb(0, 0, 0) 40%)
      rgba(19, 19, 19, 0.675);
  }
}
