.card__link {
  letter-spacing: 0;
}

.card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card__img {
  height: 8rem;
}

@media (min-width: 768px) {
  .card__img {
    height: 6rem;
  }
}

@media (min-width: 992px) {
  .card__img {
    height: 8rem;
  }
}
