h1 {
  font-family: var(--title-font);
  font-size: 10rem;
  text-align: left;
}

h2 {
  font-family: var(--title-font);
  font-size: var(--large-size);
  text-align: center;
  padding-top: 10%;
}

h3 {
  font-family: var(--highlight-font);
  font-size: 2rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: var(--light-weight);
}
