header {
  background-color: var(--secondary-background);
  backdrop-filter: blur(5px);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.nav a {
  font-weight: var(--bold-weight);
  letter-spacing: var(--space-02);
  text-decoration: none;
}

.nav {
  padding: var(--space-05);
}

.active:not(.logo) {
  background-color: var(--primary-foreground);
  color: var(--primary-background);
}

.nav__options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-10);
}

nav,
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--title-font);
  font-size: var(--medium-size);
  padding-left: var(--space-10);
  color: var(--primary-foreground);
}

.nav__list {
  gap: var(--space-10);
  padding-right: var(--space-05);
}

.nav__item a {
  text-transform: uppercase;
  font-size: var(--small-size);
  color: var(--primary-foreground);
  padding: var(--space-02);
  padding-left: var(--space-04);
}

.nav__item a:hover {
  transition: ease-in-out var(--duration-standard);
  background-color: var(--primary-foreground);
  color: var(--primary-background);
}

/*------------ hamburger navigation ------------*/

@media (max-width: 767px) {
  header {
    height: 73px;
  }

  .nav__options {
    flex-direction: column;
    justify-items: center;
    gap: 0;
  }

  .logo {
    padding-left: 0;
  }

  .line {
    display: block;
    width: 28px;
    height: 4px;
    margin: var(--space-02) auto;
    -webkit-transition: all var(--duration-slow) ease-in-out;
    transition: all var(--duration-slow) ease-in-out;
    background-color: var(--primary-foreground);
  }

  .line-rotate:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .line-rotate:nth-child(2) {
    opacity: 0;
  }

  .line-rotate:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  nav .menu {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: var(--space-20);
    height: var(--space-20);
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    padding-top: var(--space-10);
  }

  .nav__list {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100vw;
    margin-top: 17.5px;
    padding-top: var(--space-20);
    height: 100vh;
    gap: var(--space-20);
    background-color: var(--primary-background);
    transform: translateX(-200%);
    transition: transform var(--duration-slowest) ease-in-out,
      opacity var(--duration-slowest) ease-in-out,
      visibility var(--duration-slowest) ease-in-out;
  }

  .nav__list.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .nav__list.close {
    margin-top: 65px;
    position: absolute;
  }

  .nav__item {
    padding-right: var(--space-10);
  }
}
