header {
  background-color: var(--white);
  backdrop-filter: blur(5px);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.nav__options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

nav,
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  height: 2.5rem;
}

.logo {
  font-family: var(--title-font);
  font-size: 2rem;
  padding-left: 1rem;
  color: var(--text-color);
}

.nav__list {
  gap: 2rem;
  padding-right: 1rem;
}

.nav__item a {
  text-transform: uppercase;
  font-size: var(--small-size);
  color: var(--text-color);
}

/*------------ mobile navigation ------------*/

@media (max-width: 767px) {
  header {
    height: 6.1rem;
  }

  .nav__options {
    flex-direction: column;
    justify-items: center;
    gap: 0;
  }

  .logo {
    padding-left: 0;
  }

  .line {
    display: block;
    width: 1.8rem;
    height: 0.4rem;
    margin: 0.2rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-foreground);
  }

  .line-rotate:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .line-rotate:nth-child(2) {
    opacity: 0;
  }

  .line-rotate:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  nav .menu {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 2rem;
    height: 2rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
    transition: left 0.3s ease-in-out;
  }

  .logo {
    padding-top: 1rem;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--primary-background);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 100vh;
    gap: 2rem;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-200%);
  }

  .nav__list.open {
    transform: translateX(0);
  }

  .nav__item {
    padding-right: 1rem;
  }
}
