footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.footer__copyright {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 0.1rem;
}
