.toggle__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 3px;
}

.toggle__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grey);
  transition: 0.4s;
  border-radius: 20px;
}

.toggle__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--black);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle__slider {
  background-color: var(--dark-grey);
}

input:checked + .toggle__slider:before {
  transform: translateX(20px);
}

.toggle__slider.round {
  border-radius: 20px;
}

.toggle__slider.round:before {
  border-radius: 50%;
}

@media (max-width: 767px) {
  .toggle__switch {
    right: 23px;
  }
}

@media (min-width: 1400px) {
  .toggle__switch {
    top: 2px;
  }
}

@media (min-width: 2360px) {
  .toggle__switch {
    top: 10px;
  }
}
