/*------------ FONT IMPORTS & RESET ------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Redro';
  src: url('./assets/fonts/Redro.ttf') format('truetype');
}

@font-face {
  font-family: 'Akira';
  src: url('./assets/fonts/Akira.ttf') format('truetype');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------ VARIABLES ------------*/

:root {
  /* font-weight */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --bold-weight: 600;

  /* font-family */
  --body-font: 'Inter', sans-serif;
  --title-font: 'Redro';
  --highlight-font: 'Akira';

  /* color */
  --text-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
  --highlight-color: rgb(255, 165, 0);

  /* font-size */
  --small-size: 1rem;
  --regular-size: 0.8rem;
  --large-size: 4rem;
}

/* MEDIA QUERIES: small, medium, large screens */

@media (min-width: 768px) {
  :root {
    --small-size: 0.8rem;
    --regular-size: 0.8rem;
    --large-size: 4rem;
  }
}

@media (min-width: 992px) {
  :root {
    --small-size: 0.8rem;
    --regular-size: 0.8rem;
    --large-size: 4rem;
  }
}

/*------------ GLOBAL STYLING ------------*/

h1,
h2 {
  font-family: var(--title-font);
  font-size: var(--large-size);
  text-align: center;
  padding-top: 10%;
}

h3 {
  font-family: var(--highlight-font);
}

body {
  font-family: var(--body-font);
  font-weight: var(--light-weight);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

a {
  font-weight: var(--bold-weight);
  letter-spacing: 0.1rem;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
