/*------------ FONT IMPORTS & RESET ------------*/
@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Redro';
  src: url('./assets/fonts/Redro.ttf') format('truetype');
}

@font-face {
  font-family: 'Akira';
  src: url('./assets/fonts/Akira.ttf') format('truetype');
}

/*------------ VARIABLES ------------*/

:root {
  /* font-weight */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --bold-weight: 600;

  /* font-family */
  --body-font: 'Inter', sans-serif;
  --title-font: 'Redro';
  --highlight-font: 'Akira';

  /* color */
  --black-color: rgb(0, 0, 0);
  --dark-grey-color: rgb(83, 83, 83);
  --light-grey-color: rgb(206, 206, 206);
  --white-color: rgb(255, 255, 255);
  --orange-color: rgb(255, 165, 0);
  --purple-color: rgb(136, 0, 255);

  /* font-size */
  --small-size: 1rem;
  --regular-size: 1.2rem;
  --medium-size: 1.5rem;
  --large-size: 5rem;
}

/* MEDIA QUERIES: small, medium, large screens */

@media (min-width: 768px) {
  :root {
    --small-size: 0.5rem;
    --regular-size: 0.8rem;
    --medium-size: 1.5rem;
    --large-size: 5rem;
  }
}

@media (min-width: 992px) {
  :root {
    --small-size: 0.8rem;
    --regular-size: 1rem;
    --medium-size: 2rem;
    --large-size: 5rem;
  }
}

/*------------ GLOBAL STYLING ------------*/

body {
  font-family: var(--body-font);
  font-weight: var(--light-weight);
  font-size: var(--regular-size);
  letter-spacing: 0.05rem;
  min-height: 100vh;
}

a {
  font-weight: var(--bold-weight);
  letter-spacing: 0.1rem;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--title-font);
  font-size: var(--large-size);
  text-align: center;
}

h2 {
  font-family: var(--highlight-font);
  font-size: var(--medium-size);
}

h3 {
  font-family: var(--body-font);
  font-size: 1.7rem;
  font-weight: var(--light-weight);
}
