.astrology__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3rem;
  gap: 2rem;
}

@media (min-width: 768px) {
  .astrology__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .astrology__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    width: 80%;
    margin: auto;
  }
}
