.zodiac {
  min-height: 100vh;
}

.astrology__image {
  display: block;
  margin: auto;
  width: 15rem;
  margin-bottom: -5rem;
  margin-top: var(--space-20);
  border-radius: 0 0 50% 50%;
}

.astrology__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: var(--space-20) 0;
}

@media (min-width: 768px) {
  .astrology__image {
    margin-bottom: 0;
  }

  .astrology__list {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--space-30);
  }
}

@media (min-width: 992px) {
  .astrology__image {
    margin-bottom: -5.5rem;
    border-radius: 0;
  }

  .astrology__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .astrology__list {
    width: 80%;
  }
}

@media (min-width: 2360px) {
  .astrology__list {
    width: 70%;
  }
}
